
<%= form_tag(attachment_upload_path, :action=>'upload', multipart: true) do %>
  <% if @errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import", id: 'btn-submit' ) %>

  <% if @reports.present? %>
    <div class="reports">
      <h3><%= pluralize(@reports.size, "report") %> here:</h3>
      <ul>
      <% @reports.each do |report| %>
        <li><a href='<%= report.file.url %>'><%= report.file.url %></a></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<%= link_to "Sign out of session...", signout_path, class: "btn btn-primary" %>

<div class='loader'> </div>